<div id="footer">
<div id="footercontent">

<table id="foottable">
<tr>
<td class="section">
<h3>Get in touch</h3>
</td>
<td class="section">
<h3>Network</h3>
</td>
</tr>
<tr>
<td class="section">
<a class="footerlink" href="/blogs">Check my blog</a>
</td>
<td>
<div  id="facebook" class="footerlink linksection">
<img id="facebooklogo" class="networklogo" src="/img/footerarrows/facebook.png" />
<a class="footerlink" href="https://www.facebook.com/Highup-109066627105432/?modal=admin_todo_tour">facebook</a> 
</div>
</td>
</tr>
<tr>
<td>
<a class="footerlink" href="#">zsolt.domjan@supanight.co.uk</a>
</td>
<td>
<div id="twitter" class="footerlink linksection">
<img id="twitterlogo" class="networklogo" src="/img/footerarrows/twitter.png" />
<a class="footerlink" href="https://twitter.com/DomjanZsolt">twitter</a>
</div>
</td>
</tr>
<tr>
<td>
<a class="footerlink" href="/contact"> Contact form</a>
</td>
</tr>
<tr>
<td>
<a class="footerlink" href="#">Leave me a feedback</a>
</td>

</tr>
</table>


<div id="copyright">
Design by Carol-Zsolt Domjan &#124; &#169; 2019 &#124; All Rights Reserved
</div>


</div>
</div>