<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  <link rel="stylesheet" href="/css/blogg.css" type="text/css">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <script type="text/javascript" src="/js/jquery.js"></script>
</head>
<body>
<div id="main">
	<div id="logoabsolut">
  <a href="/"><img class="logoabsolute" src="/img/logo/fox.png" /></a>
  	</div>

    {{{body}}}
</div>
	{{>footer}}
  
<script src="/js/blogging.js"></script>  
</body>

</html>