<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>highup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Cinzel|Permanent+Marker|Poiret+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  <link rel="shortcut icon" href="img/logo/fox.png" alt="highup-official-website" />
  <link rel="icon" href="img/logo/fox.png" />
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/contact.css">
  <link rel="stylesheet" href="/css/projects.css">
  <link rel="stylesheet" href="/css/about.css">
  <link rel="stylesheet" href="/crossbrowser/abilities/abilities.css">
  <script type="text/javascript" src="/js/jquery.js"></script>
</head>
<div id="bodycont">
  <a href="/"><img id="logo" src="/img/logo/newlogo.png" /></a>
    {{{body}}}
	
</div>
	{{>footer}}
<script src="/js/menuv2.js"></script>  
<script src="/js/modifiedmain.js"></script>  
</body>

</html>