<h2 class="blogg-title" id="blogg1">This is blogg number one</h2>
<div class="blogginfo">Blogg created:{{date}} || Subject:{{subject}}</div>

<div class="bloggcontent">
Here will come the content of the blogg more specific and more detailed

</div>