 <div id="backbutton" class="back-button"><a href="/blogs"><img src="/img/logo/back-icon.png" /></a></div>


<h1 id="emptiness-blogg-title" class="blogg-title">My long journey to web-development</h1>
<div class="bloggcontent">
 <p><i>Blog topic</i>:  {{topic}}</p>
 <p><i>Reading duration</i>:  {{time}}</p>
<p>Often times we meet this very melodious and always situation saver sentence:<b> follow your dreams</b>. From Thomas Edison, through Bill Clinton, to the Dalai Lama everyone had the chance at least once in their lifetime to share this wise advice with the world.</p>
<p> These are the people who worked hard to achieve their vision, even if the path was rough. 
But what happens with those who do not have a vision? With those, who feel capable of something greater, something fulfilling, but they have no clue what’s the nature of that thing?
As my first ever written blog article, I would like to share my story with others, especially with those who they feel empty and without a purpose. I decided to share it, because for a very long time I was one of these unlucky people. </p>
<p>
At the time of my writing I’m not working as a web developer yet, this blog page is a section of my first fully finished web application, which is my personal website. My present job position is team-leader of the goods in team in a warehouse somewhere in South England. By now this is my 6th year living in the UK. 
</p>
<h3 class="sectionTitle">Where all started/Homeland of negativity</h3>
<p>
I was born and grew up in a lovely town in Romania, near by the Hungarian border,called Oradea. The place and the surrounding area is brilliant, I do recommend it for trips. As being part of Transylvania, the only sad side of the city is the very deep historical hollow, recognised in monuments, buildings, all kind of records, and the still existing romanian-hungarian conflicts. 
</p>
<p>
My family is part of the hungarian ethnic minority in Romania, a result of the loss of the defeated former Austro-Hungarian Monarchy in WW1. I don’t really want to go into historical details and whys , as online all the details are given.  What I would like to highlight is, that my native country is that place, where opportunities are given to those with the right connections, you always have to stay in queues to solve any issue, and 90s was the era, when if your name was hungarian, you had no chance to grow. I was surrounded by a world teaching me how to accept things how they are, and never even try to extend my potentials in any direction.
</p>
<h3 class="sectionTitle">Show me the money!!</h3>

<p>
Then at the age of 24, after quitting university, having  several miserable jobs, and a heart breaking affair, I decided to leave everything behind and come in the UK to “MAKE THE MONEY”. I think this is one of the worst things, a person can pursue in order to find some sort of fulfilment: money. So I started my very hard path of settlement in London. Of course my english at that time wasn’t the best (not like now is really satisfying), I barely had enough money to survive, and my relationship at that time was a chaos. In my mind  money was the solution. If I manage to earn a decent amount, my life will be perfect,that was the plan. And of course there were other factors, like some addictions, emotional and mental issues and loneliness. As a conclusion, I moved in a different country, but nothing had really changed, from a stranger in my homeland I became a stranger abroad.

</p>
<img src="/img/blogging/showmethemoney.jpg" class="middle-full-width" />
<h3 class="sectionTitle">What others see</h3>
<p>
Nowadays the new human instinct is to always impress others. People, whose goal is to find joy by making others "impressed", will never find that real harmony. It's not easy to not build up this habbit, when we have the whole world in our pocket in the form of a cell phone. The margin of our information sharing channels are so large, that we get the tendency to use it ,as a competition ,where the target is to be able to show more, than others. 

I often did worry,what others think about me, and I kept living in my memories of situations when I wasn't happy because of certain peoples opinion. 

</p>
<h3 class="sectionTitle">The tipping point</h3>
<p>
Then it happened, that my life took an unpleasant(at that time) but certainly crucial turn. Being unhappy at that time, I did some shameful things followed by serious consequences.
I was embarassed more than ever, so I decided to not even mention my problems to anyone. My future became uncertain, and probably the given circumstances made me  realise what the only option was;  to calm down, estabilish my inner peace and work on it. Going through this hard work , I forgot about my past issues, as finances, loneliness, lack of self-esteem. I started to prioritise different things. I remember having my first comleteley read web development book. The plot of it was the step-by-step building of a calendar app using php and jquery. Because there were no any disturbing factors inside me, and because I started to expreience the ability of creating something, everything written in that book felt so easy to understand.
I did  cast off all those  ego created layers, and tried to look into the seeds of my human nature.I was doing a lot meditation at that time,having inner conversations about questions such as "what is capability of humans?", "what distinguishes us from animals?" or  "what would make me happy if I had everything in the world?" . In this spiritually naked state I  got to the conclusion, that we are made to create. In order to be happy I have to manifest my feelig in some way.But luckily I started to feel the right tool for this creation in my hand.
A couple of weeks later, I had a small chat with my manager at that time. He heard about my new passion, so he requested me the building of a simple allocation system . I got some thinking time to decide  whether I want to do it or not. The same night after I went to bed, I started to construct the app based on my knowledge from that book, and I realised , it can be done. I accepted the challenge, then in two weeks time my little app was already in action. It was really simple structure, I made a front end surface, where the users can scan the data in, then using jquery I passed the received data to the php backend and processed it. It was easy, but looking back just think about  it, I was the same person ,who years before wasn't able to understand a simple for loop concept.

</p>
<h3 class="sectionTitle">What changed??</h3>
<p>
My inner world, the way how I looked at things.  The time I spend on social media, the music I was listening, the books I started to like, the people whom I let close to me, it all changed. Subconsciously I started to filter out all those disruptive noises, what made me to loose time . 
</p>
<h3 class="sectionTitle">Conclusion</h3>
<p>
Since then web-development has become part of my life. I'm still not working as an official web developer, that's true, but I'm sticked with a long term plan and I managed to earn a knowledge what was only a dream before. 
As a conclusion we must admit: as long as our main concern in life is what we see on facebook, instagram ,or what disadvantages we have in our 'miserable ' lives, we will never see what is deep inside in ourselves. 
We loose time by being concerned about trivial things, things helping our physical effor in short term. But what we forget is, that our purpose in this life is tocreate. To learn ,to be creative , and to share our creation with others.
This can happen with the right mental and spiritual condition. Sometimes is good to step back, to take a deep breath, maybe rest a few days or weeks, meditate, and look around us with a clear undistracted vision.
</p>
</div>
	<div class="comment-container">
	<div class="fb-comments" data-href="http://localhost:3000/blog/000001" data-width="120" data-numposts="5"></div>
	
    <div id="fb-root"></div>
	</div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ro_RO/sdk.js#xfbml=1&version=v3.3&appId=191136778499210&autoLogAppEvents=1"></script>