<div id="phonecontainer">
<div id="phonemenu">
<div id="aboutmobile" class="mobilebutton">
<a href="#">About me</a>
</div>
<div id="abilitymobile" class="mobilebutton">
<a href="#">Abilities</a>
</div>
<div id="projectsmobile" class="mobilebutton">
<a href="#">Projects</a>
</div>
<div id="contactmobile" class="mobilebutton">
<a href="#">Contact</a>
</div>
</div>
<h2 id="quote">
&#34;A man who carries a cat by the tail learns something he can learn in no other way.&#34;
</h2>
</div>
<div id="maincont"> 

<div id="container">

<div id="hidden" class="hidden">
</div>
<div id="active" class="activeview">
<h2 id="quote">
&#34;A man who carries a cat by the tail learns something he can learn in no other way.&#34;
</h2>
<span id="name">	&#40;Mark Twain&#41;</span>
</div>
</div>

<div id="middleSVGContainer" >

<svg id="svgCanvas" version="1.1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="250px" height="250px"
	 pointer-events="all" viewBox="150 50 500 500">	
	
</svg>

</div>
<div id="ieversion">
<ul>
<li class="mainmenulink">About</li>
<li class="mainmenulink" id="internet-explorer-abilities"">Abilities</li>
<li class="mainmenulink" id="internet-explorer-projects">Projects</li>
<li class="mainmenulink" id="internet-explorer-contact">Contact</li>
</ul>
</div>
</div>