<div id="project-main-container">
<div id="zsolt-domjan-project-container">
<div class="project" id="smi">
<div class="infocover">
<div class="infogroup">
<span class="property">Project name:</span>
<span class="property-value">Order Allocator System</span>
</div>
<div class="infogroup">
<span class="property">Customer:</span>
<span class="property-value">SMI</span>
</div>
<div class="infogroup">
<span class="property">Description:</span>
<span class="property-value">Allocates and tracks each job on the selves by its order number</span>
</div>
<div class="infogroup">
<span class="property">Technology used:</span>
<span class="property-value">PHP,jQuery,HTML,CSS</span>
</div>
<div class="infogroup">
<span class="property">Link:</span>
<span class="property-value">Internal use</span>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="/js/projects.js"></script>