
	<div id="pageContainer">
	<h3 id="title">About me</h3>
	<div id="contenta">
	<div id="profpicture">
	
	</div>
	<div id="thecontent">
	<p>Hi there!! Are you looking for a web-developer, something related to web-development, or just a fellow to share your stories with??? 
		 <p> My name is Zsolt Domjan, a web developer, another code writer fish in this rich ocean of internet.In this small introduction section I would like to focus more on personal characteristics rather then professional.
		Who we are can be described in numerous ways. Words, stories, actions, plans, dreams are all elements of our personal profile. </p>
		<p>Me being a person, who like to look forward at whatever the future holds for me, I prefer to see myself from the perspective of who I'm going to become. I have a cv, a resume, or a blog to give you an account of my past and growth. But that's not a complete picture. So who am I? It's pretty simple:</p>
		<p>-the family waiting to be loved,</p>
		<p>-languages waiting to be learnt and spoken,</p>
		<p>-journeys to be made, cultures to be discovered,</p>
		<p>-people waiting to be met, special friendships to be estabilished,</p>
		<p>-technologies to be conquered, and ideas waiting to become projects, </p>
		<p>-the money waiting to be made, and people to be supported and helped, </p>
		<p>-books waiting to be read, stories to be written. </p>
		<p>This list is a part of that future vision, what describes me. If this profile does match with the person you are looking for to work with, feel free to contact me at any time.
		Also, have a look on my blog page, I always add new personal stories and development articles.</p>
	</div>
	</div>
	</div>
