<div id="pageContainer">

		<div id="errors" style='color:red;'>{{errorMsg}}</div>
		<div id="serverresponse" style='color:green;'><i>{{msg}}</i></div>
			<form id="contactform" action="/contactmsg" method="post">
			<div class="inputgroup">
			<label class="label">Full Name*</label>
			<input type="text" class="input" name="fullname" id="fullname"/>
			</div>
			<div class="inputgroup">	
			<label class="label">Email Address*</label>
			<input type="text" class="input" name="email" id="email"/>
			</div>
			<div class="inputgroup">
			<label class="label">Message*</label>
			<textarea class="input" id="message" name="msg" rows="10" cols="40" ></textarea>
			</div>
			<input type="hidden" name="formtype" value="normal" />
			<input type="submit" id="submitmsg" value="send" >
			</form>
	</div>
		